@charset "utf-8";

body {
    background: #E9D9C0;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}


.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}



h1 img {
    width: 434px;
    vertical-align: baseline;
}

h2 {
    font-family: "Diplomata SC", serif;
    color: #D20202;
    font-size: 40px;
    margin-bottom: 32px;
}

.pc_nav ul {
    display: flex;
    gap: 48px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "Alatsi", sans-serif;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 27px;
        cursor: pointer;
        position: absolute;
        top: 34px;
        right: 27px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        position: relative;
        top: 13.5px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 13.5px;
    }

    .sp_btn span::after {
        top: 13.5px;
    }

    /* ばつ印 */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .sp_nav li {
        color: #fff;
        font-size: 36px;
        font-family: "Alatsi", sans-serif;
    }
}

.main_text {
    text-align: center;
    margin: 132px 0 144px;
}

.catchcopy1 {
    font-family: "Alatsi", sans-serif;
    font-size: 26px;
}

.catchcopy2 {
    font-size: 64px;
    line-height: 1.5;
    padding: 40px 0 16px;
}

.message {
    font-size: 24px;
    line-height: 1.5;
}

@media screen and (max-width:1100px) {
    .catchcopy2 {
        font-size: 60px;
    }

    .message {
        font-size: 20px;
    }
}

@media screen and (max-width:767px) {
    .catchcopy1 {
        font-size: 16px;
    }

    .catchcopy2 {
        font-size: 31px;
        padding: 40px 0 24px;
    }

    .message {
        font-size: 16px;
    }
}



section {
    margin: 0 auto;
    margin-bottom: 144px;

}

.about {
    max-width: 1000px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.about picture image {
    width: 44%;
    border-bottom-right-radius: 45px;
}

.about_text {
    width: 52%;
    text-align: left;
}

.copy {
    font-size: 32px;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 16px;
}

@media screen and (max-width:1100px) {
    .about_text h2 {
        font-size: 36px;
    }
}

@media screen and (max-width:767px) {
    .about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about picture {
        justify-content: center;
        padding: 0 20px;
    }

    .about_text h2 {
        font-size: 32px;
        margin: 40px 0;
    }

    .copy {
        font-size: 24px;
    }
}

.menu {
    max-width: 1000px;
}

.menu h2 {
    text-align: center;
    margin-bottom: 32px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

.menu li {
    width: 30%;
}

.menu li div {
    position: relative;
}

.menu li img {
    border-top-right-radius: 45px;
}

.menu h3 {
    font-family: "Diplomata SC", serif;
    font-size: 26px;
    color: #D20202;
    position: absolute;
    top: 95%;
}

.menu p {
    margin-top: 23px;
}

.sp_drink,
.sp_food,
.sp_sweets {
    display: none;
}

@media screen and (max-width:767px) {
    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu li img {
        border-top-right-radius: 45px;
    }

    /* .pc_drink,
    .pc_food,
    .pc_sweets {
        display: none;
    } */


}


.gallery h2 {
    text-align: center;
    margin-bottom: 32px;
}

.gallery ul {
    display: flex;
    justify-content: space-between;
}

.event h2 {
    text-align: center;
}

.event_box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;
    background: #ffffff;
    border: solid 1px #4F270B;
    display: flex;
    justify-content: center;
}

.event_info {
    max-width: 1000px;
    display: flex;
}

.event_date {
    margin-right: 40px;
    font-size: 16px;
}

.event_title {
    font-size: 16px;
}

@media screen and (max-width:767px) {
    .event_info {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .event_info .event_title {
        font-size: 16px;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.access h2 {
    text-align: center;
}

iframe {
    width: 100%;
    height: 353px;
    display: block;
}

footer {
    background-color: #ffffff;
    padding: 80px 0 60px;
    margin: -144px;
}

.footer_group>div {
    display: flex;
}

.footer_title {
    font-family: "Diplomata SC", serif;
    color: #4F270B;
    font-size: 28px;
    margin-right: 39px;
}

footer>div {
    max-width: 1000px;
    margin: 80px 0 60px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer_info {
    width: 40%;
}

.shop_info {
    display: flex;
    gap: 40px;
}

.content {
    width: 64px;
    padding-bottom: 16px;
}

.detail {
    padding-bottom: 16px;
}

.copyright {
    bottom: 0;
    left: 0;
}

@media screen and (max-width:767px) {
    .footer_group>div {
        flex-direction: column;
        align-items: center;
    }

    .footer_title {
        margin-bottom: 39px;
    }

    .shop_info {
        flex-direction: column;
        gap: 0;
    }

    .content {
        padding: 0;
    }

}