@charset "utf-8";

body {
    background: #E9D9C0;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}


.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 img {
    width: 434px;
    vertical-align: baseline;
}

h2 {
    font-family: "Diplomata SC", serif;
    color: #D20202;
    font-size: 40px;
    margin-bottom: 32px;
}

.pc_nav ul {
    display: flex;
    gap: 48px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "Alatsi", sans-serif;
}

.main_text {
    text-align: center;
    margin: 132px 0 144px;
}

.catchcopy1 {
    font-family: "Alatsi", sans-serif;
    font-size: 26px;
}

.catchcopy2 {
    font-size: 64px;
    line-height: 1.5;
    padding: 40px 0 16px;
}

.message {
    font-size: 24px;
    line-height: 1.5;
}

section {
    margin: 0 auto;
    margin-bottom: 144px;

}

.about {
    max-width: 1000px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.about div img {
    width: 44%;
    border-bottom-right-radius: 45px;
}

.about_text {
    width: 52%;
    text-align: left;
}

.copy {
    font-size: 32px;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 16px;
}

.menu {
    max-width: 1000px;
}

.menu h2 {
    text-align: center;
    margin-bottom: 32px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li {
    width: 30%;
}

.menu li div {
    position: relative;
}

.menu li img {
    border-top-right-radius: 45px;
}

.menu h3 {
    font-family: "Diplomata SC", serif;
    font-size: 26px;
    color: #D20202;
    position: absolute;
    top: 95%;
}

.menu p {
    margin-top: 23px;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 32px;
}

.gallery ul {
    display: flex;
    justify-content: space-between;
}

.event h2 {
    text-align: center;
}

.event_box {
    width: 1000px;
    padding: 32px;
    background: #ffffff;
    border: solid 1px #4F270B
}

.event_info {
    max-width: 1000px;
    display: flex;
}

.event_date {
    margin-right: 40px;
}

.access h2 {
    text-align: center;
}

iframe {
    width: 1440px;
    height: 353px;
}

footer {
    width: 1440px;
    height: 384px;
    background-color: #ffffff;
    margin-top: -144px;
}

.footer_group {
    width: 1000px;
    display: flex;
}

.footer_title {
    font-family: "Diplomata SC", serif;
    color: #4F270B;
    font-size: 28px;
}

footer div {
    max-width: 1000px;
    margin: 80px 0 60px;
    display: flex;
}

.footer_info {
    width: 580px;
    display: flex;
}

.copyright {
    bottom: 0;
    left: 0;
}