@charset "utf-8";

body {
    max-width: 960px;
    background-color: #eeeeee;
}


h1 {
    font-size: 24px;
    color: cadetblue;
    text-align: center;
    padding: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    width: 30%;
    background-color: #fff;
}

div {
    width: 100%;
    padding-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: cadetblue;
    text-align: left;
    padding: 5px;
    border-left: 12px solid cadetblue;
    margin: 10px;
}

p {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
}

@media screen and (max-width: 400px) {
    ul {
        flex-direction: column;
    }

    li {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }


}