@charset "utf-8";

/* work1-1 */
.container1 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 300px;
    height: 300px;
    background: blue;
}


/* work1-2 */
.container2 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.box2 {
    width: 300px;
    height: 300px;
    background: red;
}


/* work1-3 */
.navbar {
    max-width: 960px;
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    max-width: 960px;
    list-style: none;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li {
    border-right: 1px solid #333;
}