@charset "utf-8";

/* work1-1 */
.container1 {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 300px;
    height: 300px;
    background: blue;
}


/* work1-2 */
.container2 {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.box2 {
    width: 300px;
    height: 300px;
    background: red;
}


/* work1-3 */
header {
    max-width: 960px;
    display: flex;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 50px;
}

.navbar {
    max-width: 960px;
    display: flex;
}


.menu {
    max-width: 960px;
    display: flex;
    justify-content: end;
    align-items: center;
}

li {
    padding: 10px;
    border-right: 1px solid #333;
}

li:last-child {
    border-right: none;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }

    h1 {
        margin: 0;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        padding: 0 10px;
    }

    li {
        border-right: none;
        border-bottom: 1px solid #333;
        width: 200px;
    }
}